{# langapp/templates/langapp/base.html #}

{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Master</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extra-css %}{% endblock %}
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="{% url 'vocab_list' %}"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
               <span class="fs-4">Let's master new languages!</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="{% url 'vocab_list' %}" class="nav-link active">Go to Vocab list</a>
                </li>
            </ul>
        </header>
    </div>
    <!-- 여기에 각 페이지가 들어간다. -->
    <div class="container">
        {% bootstrap_messages %}

        {% block content %}{% endblock %}

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">&copy; 2023. Ahnjj</small>
                </div>
            </div>
        </footer>

        {% block script %}{% endblock %}
    </div>
</body>
</html>