{% extends "langapp/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocab App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
<div class="container"> -->
    <h1>Complete List</h1>
    <p>
        <a href="{% url 'vocab_test' %}" class="btn btn-danger">Test!</a>
    </p>
    <ul class="list-group">
        {% for complete in completes %}
        <li class="list-group-item">
            <a href="{% url 'vocab_detail' pk=complete.pk %}" class="text-dark text-decoration-none">{{ complete.word_ko }} {{ complete.word_fo }} </a>
            {% if complete.important %}
                <span class="badge text-bg-danger">!</span>
            {% endif %}
            <div style="float: right">
                <a href="{% url 'uncompleted' pk=complete.pk %}" class="btn btn-success">Uncomplete</a> 
                <a href="{% url 'vocab_edit' pk=complete.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'vocab_destroy' pk=complete.pk %}" class="btn btn-danger">Delete</a>
            </div>  
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
<!-- </div>
    
</body>
</html> -->