{% extends "langapp/base.html" %}
    {% block content %}
    <h1>Vocab list</h1>
    <p>
        <a href="{% url 'vocab_post' %}" class ="text-muted text-decoration-none"><i class="bi bi-plus">Add Vocab</i></a>
        <a href="{% url 'complete_list' %}" class="btn btn-secondary" style="float: right">Completed List</a>
    </p>
    <br>
    <ul class="list-group">
        {% for vocab in vocabs %}
        <li class="list-group-item">
            <a href="{% url 'vocab_detail' pk=vocab.pk %}" class="text-dark text-decoration-none" >{{ vocab.word_ko }} </a>
            {% if vocab.important %}
                <span class="badge text-bg-danger">!</span>
            {% endif %}
            <div style="float: right">
                <a href="{% url 'completed' pk=vocab.pk %}" class="btn btn-success">Completed</a>
                <a href="{% url 'vocab_edit' pk=vocab.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'vocab_destroy' pk=vocab.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocab list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Vocab list</h1>
    <p>
        <a href="{% url 'vocab_post' %}"><i class="bi bi-plus"></i>Add Vocab</a>
        <a href="{% url 'complete_list' %}" class="btn btn-secondary" style="float: right">Completed List</a>
    </p>
    <ul class="list-group">
        {% for vocab in vocabs %}
        <li class="list-group-item">
            <a href="{% url 'vocab_detail' pk=vocab.pk %}">{{ vocab.word_ko }} </a>
            {% if vocab.important %}
                <span class="badge text-bg-danger">!</span>
            {% endif %}
            <div style="float: right">
                <a href="{% url 'completed' pk=vocab.pk %}" class="btn btn-success">Completed</a>
                <a href="{% url 'vocab_edit' pk=vocab.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'vocab_destroy' pk=vocab.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html> -->

